<h5>My Transactions</h5>
<div class="button-row">
<a mat-stroked-button href="https://www.google.com/" target="_blank"><app-feather-icon icon="fa fa-upload" id="upload-icon"></app-feather-icon>    EXPORT</a>
</div>

    <table>
        <tr>
            <th *ngFor="let head of data[0].head">{{head |uppercase}}</th>
        </tr>
        <tr *ngFor="let data of data">
            <td>{{data.date}}</td>
            <td>{{data.from}}</td>
            <td>{{data.to}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.balance}}</td>
            <td>{{data.reference}}</td>
        </tr>
    </table>

