.sidebar-menu{
    margin: 0;
}

.sidebar-menu .title{
    font-family: monospace;
    font-size: 13px;
}
ul li{
    list-style: none !important;
    padding: 10px;
}
.sidebar-menu .dashboard{
    font-size: 17px !important;
    padding: 0 10px;
    line-height: 5em;
    font-family: 'Roboto',sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
