

<div class="container-fluid">
    <div class="row" >
        <h5>My Cards</h5>
        <div class="col-md-6 col-lg-4 col-sm-12 col-xs-6 col-xl-4" *ngFor="let items of carddata">
            <mat-card>
                <mat-card-content>
                    <h5> {{items.cardTitle}}</h5> 
                    <h6>{{items.cardNumber}}</h6>
                    <p>{{items.expdata}}</p>
                </mat-card-content>
              
              </mat-card>
        </div>
    </div>
</div>
<button mat-button class="add-btn"><app-feather-icon icon="fa fa-plus"></app-feather-icon> Add Card</button>
